<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add product</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

<div class="login-container">

    <h2>Add Product</h2>
    <form th:action="@{/product/create}" th:object="${productDTO}" method="post" enctype="multipart/form-data">

        <div th:if="${emptyFieldsProduct}" class="alert alert-danger text-center">
            <p th:text="${emptyFieldsProduct}"></p>
        </div>

        <div th:if="${muchImg}" class="alert alert-danger text-center">
            <p th:text="${muchImg}"></p>
        </div>

        <div class="input-group">
            <label for="name">Name Product</label>
            <input type="text" id="name" name="name" autofocus="autofocus"/> <br/>
            <label for="category">Category</label>
            <input type="text" id="category" name="category"/> <br/>
            <label for="price">Price</label>
            <input type="number" id="price" name="price" autofocus="autofocus"/> <br/>
            <label for="images">Add images: max 3</label>
            <input type="file" id="images" name="images" multiple/>
            <p></p><br/>
            <button class="login-btn" type="submit">Add product</button>
        </div>
    </form>

    <input class="login-btn" type="button" value="Search product" onclick="window.location.href='/search'">
    <p></p><br/>

    <form th:action="@{/logout}" method="post">
        <button class="login-btn" type="submit">Log out</button>
    </form>

</div>

</body>
</html>