<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product info</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="container">
    <p>Название товара: <span th:text="${product.name}"></span></p>
    <p>Название категории: <span th:text="${product.category}"></span></p>
    <p>Цена: <span th:text="${product.price}"></span></p>
    <p>Картинка:</p>

    <div th:each="image : ${product.images}">
        <img th:src="@{/images/{id}(id=${image.id})}" alt="Product Image" width="60px">
    </div>


    <form th:action="@{/product}" method="get">
        <input type="submit" value="Back"  />
    </form>
</div>
</body>
</html>