<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product info</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
<div class="login-container">

    <p>Name product: <span th:text="${product.name}"></span></p>
    <p>Category: <span th:text="${product.category}"></span></p>
    <p>Price: <span th:text="'$' + ${product.price}"></span></p>
    <p>Images:</p>

    <div th:each="image : ${images}">
        <img th:src="${image.imageURL}" alt="No images" width="120px">
    </div>

    <form th:action="@{/search}" method="get">
        <button class="login-btn" type="submit">Back to search</button>
    </form>
</div>
</body>
</html>